*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    padding: 100px;
    margin-left: 100px;
    text-align: center;
    background-color: rgba(2, 17, 115, 0.977);
    color: #f4f4f4;
}

.counter-container{
   padding: 50px;
   font-weight: 800;
}

.counter{
    font-size: 90px;
    color: #f5b802fc;
    font-weight: 900;
}